# Preprocessing Data

In [95]:
import pandas as pd
import numpy as np

In [96]:
train = pd.read_csv('/Users/ridhitbhura/Desktop/Election Prediction Project/FINAL DATASET.csv')
dict1 = pd.read_csv('/Users/ridhitbhura/Desktop/Election Prediction Project/finaldict.csv')

In [98]:
del dict1['Unnamed: 2']

In [100]:
dictionary = dict(zip(dict1['Full Name'], dict1['District']))

In [103]:
train.isna().sum()

State-UT Code & Name    0
PC NO                   0
PC NAME                 0
AC NO                   0
AC NAME                 0
TOTAL ELECTORS          0
TOTAL VOTES IN STATE    0
NOTA VOTES EVM          0
CANDIDATE NAME          0
PARTY                   0
VOTES SECURED EVM       0
CodeName                0
Full Name               0
dtype: int64

In [104]:
train["District"] = train["Full Name"].map(dictionary)

In [106]:
alliance = pd.read_csv('/Users/ridhitbhura/Desktop/Election Prediction Project/Party Alliance Dict File.csv')

In [107]:
train["District"].isna()

0        False
1        False
2        False
3        False
4        False
         ...
58737    False
58738    False
58739    False
58740    False
58741    False
Name: District, Length: 58742, dtype: bool

In [108]:
del alliance['Name']

In [109]:
alliancedict = dict(zip(alliance['Code'], alliance['Alliance']))

In [110]:
alliancedict
train["Alliance"] = train["PARTY"].map(alliancedict)

In [112]:
train.drop(train[train['District'].isna()].index, inplace=True)

In [114]:
df = train.copy()

In [116]:
df = df.rename(columns={'VOTES SECURED EVM': 'votes'})

In [118]:
df.isna().sum()

State-UT Code & Name        0
PC NO                       0
PC NAME                     0
AC NO                       0
AC NAME                     0
TOTAL ELECTORS              0
TOTAL VOTES IN STATE        0
NOTA VOTES EVM              0
CANDIDATE NAME              0
PARTY                       0
votes                       0
CodeName                    0
Full Name                   0
District                    0
Alliance                18984
dtype: int64

In [119]:
df['Alliance'].fillna('Other', inplace=True)

In [120]:
df.isna().sum()

State-UT Code & Name    0
PC NO                   0
PC NAME                 0
AC NO                   0
AC NAME                 0
TOTAL ELECTORS          0
TOTAL VOTES IN STATE    0
NOTA VOTES EVM          0
CANDIDATE NAME          0
PARTY                   0
votes                   0
CodeName                0
Full Name               0
District                0
Alliance                0
dtype: int64

In [122]:
#Calculating total votes in each District
df['Total_Votes'] = df.groupby('District').votes.transform(np.sum)

In [123]:
#df.to_csv('/Users/ridhitbhura/Desktop/Election Prediction Project/correctionfinaldata.csv')

In [125]:
df['Alliance'].isna().sum()

0

In [126]:
#Figure out how to get party wise vote share by District
df1 = df.groupby(by = ['Alliance', 'District']).sum()

In [128]:
df2 = df.groupby(by = ['District', 'Alliance']).sum()

In [130]:
#df2.to_csv('/Users/ridhitbhura/Desktop/Election Prediction Project/aggregate.csv')

In [131]:
#df2.pivot(columns = 'PARTY', index = 'DISTRICT')

In [132]:
aggregate = pd.read_csv('/Users/ridhitbhura/Desktop/Election Prediction Project/aggregate.csv')

In [134]:
copy2 = aggregate.copy()
#aggregate.pivot(columns = 'PARTY', index = 'District')

In [135]:
del copy2['PC NO']
del copy2['AC NO']
del copy2['TOTAL ELECTORS']
del copy2['TOTAL VOTES IN STATE']
del copy2['NOTA VOTES EVM']
del copy2['Total_Votes']

In [137]:
copy3 = copy2.pivot(columns = 'Alliance', index = 'District', values='votes')

In [138]:
copy3.fillna(0)

Alliance         IND       MTP        NDA        UPA
District
Adilabad      3800.0   90444.0   124263.0    74195.0
Agra         15750.0  511894.0  1210637.0   213743.0
Ahmedabad    45608.0   32528.0  2369297.0  1002936.0
Ahmednagar   99716.0   12628.0  1180410.0   803741.0
Aizawl        7231.0       0.0     1217.0    95329.0
...              ...       ...        ...        ...
Yadgir        1749.0    8731.0   309522.0   236351.0
Yamunanagar   7186.0   63671.0   353780.0   185081.0
Yanam          397.0     331.0     8697.0    21600.0
Yavatmal     63694.0   11898.0   701725.0   496861.0
Zunheboto      185.0       0.0    45461.0    47969.0

[717 rows x 4 columns]

In [139]:
#copy3.to_csv('/Users/ridhitbhura/Downloads/bruhcopy.csv')

In [140]:
#Reimporting to solve nesting issue

In [141]:
df1 = pd.read_csv('/Users/ridhitbhura/Downloads/bruhcopy.csv')

In [142]:
df1 = df1.fillna(0)

In [144]:
#copy3reimport.to_csv('/Users/ridhitbhura/Downloads/TOTALFINALDATADONOTMESS.csv')

In [145]:
df1['Totalvotes']=df1['IND']+df1['MTP']+df1['NDA']+df1['UPA']

In [146]:
#copy3reimport.to_csv('/Users/ridhitbhura/Downloads/fordistrictvalidation.csv')

In [147]:
df1['nda_voteshare']=df1['NDA']/df1['Totalvotes']
df1['upa_voteshare']=df1['UPA']/df1['Totalvotes']
df1['mtp_voteshare']=df1['MTP']/df1['Totalvotes']
df1['ind_voteshare']=df1['IND']/df1['Totalvotes']

In [148]:
#map_df = pd.merge(ind_dist, dupdrop, how='laa', on='mapnames')

In [150]:
socialjoindict = pd.read_csv('/Users/ridhitbhura/Desktop/Election Prediction Project/mlvalidationdict.csv')

In [152]:
dict2 = dict(zip(socialjoindict['Census'], socialjoindict['Election']))
#train["Alliance"] = train["PARTY"].map(alliancedict)

In [154]:
censusdata = pd.read_csv('/Users/ridhitbhura/Downloads/archive/india-districts-census-2011.csv')

In [156]:
censusdata["District_elecname"] = censusdata["District name"].map(dict2)

In [157]:
censusdata.isna().sum()

District code                    0
State Name                       0
District name                    0
Population                       0
Male                             0
                                ..
Power_Parity_Rs_425000_545000    0
Power_Parity_Rs_330000_545000    0
Power_Parity_Above_Rs_545000     0
Total_Power_Parity               0
District_elecname                4
Length: 119, dtype: int64

In [158]:
censusdata = censusdata[censusdata.notna()]

In [160]:
censusdata.isna().sum()

District code                    0
State Name                       0
District name                    0
Population                       0
Male                             0
                                ..
Power_Parity_Rs_425000_545000    0
Power_Parity_Rs_330000_545000    0
Power_Parity_Above_Rs_545000     0
Total_Power_Parity               0
District_elecname                4
Length: 119, dtype: int64

In [161]:
censusdata = censusdata[censusdata['District_elecname'].notna()]

In [163]:
from pandas import DataFrame
from typing import Set, Any
def remove_others(df: DataFrame, columns: Set[Any]):
    """
    Deletes all columns of the specified dataframe except for the ones selected 
    """
    cols_total: Set[Any] = set(df.columns)
    diff: Set[Any] = cols_total - columns
    df.drop(diff, axis=1, inplace=True)

In [164]:
List_to_keep = {'District code','State Name','District name','Population','Male','Female','Literate','Male_Literate','Female_Literate','SC','Male_SC','Female_SC','ST','Male_ST','Female_ST','Workers','Male_Workers','Female_Workers','Main_Workers','Marginal_Workers','Non_Workers','Cultivator_Workers','Agricultural_Workers','Household_Workers','Other_Workers','Hindus','Muslims','Christians','Sikhs','Buddhists','Jains','Others_Religions', 'Rural_Households','Urban_Households','Households','Below_Primary_Education','Primary_Education','Middle_Education','Secondary_Education','Higher_Education','Graduate_Education','Other_Education','Literate_Education','Illiterate_Education','Total_Education','Age_Group_0_29','Age_Group_30_49','Age_Group_50', 'District_elecname'}
remove_others(censusdata, List_to_keep)

/Users/ridhitbhura/miniforge3/envs/newenv/lib/python3.8/site-packages/pandas/core/frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [165]:
#ax1 = censusdata.plot.scatter(x='Muslims',y='Literate',c='DarkBlue')

In [166]:
pctcensusdf=censusdata.copy()
pctcensusdf

,District code,State Name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Higher_Education,Graduate_Education,Other_Education,Literate_Education,Illiterate_Education,Total_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50,District_elecname
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,39709,21751,6402,405015,289765,694780,600759,178435,89679,Kupwara
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,41367,27950,6857,374972,342646,717618,503223,160933,88978,Budgam
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,8923,6197,575,75493,32637,108130,70703,41515,21019,Leh
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,9826,3077,408,82938,39854,122792,87532,35561,17488,Kargil
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,29517,13962,1884,288430,164044,452474,304979,109818,61334,Poonch
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,635,PONDICHERRY,PONDICHERRY,950289,468258,482031,726649,380946,345703,152406,...,81519,134067,17367,725031,146861,871892,473705,299746,176204,Puducherry
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,16610,19860,144,...,5711,4475,978,36858,2993,39851,19760,12543,9428,Mahe
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,79903,75013,35348,...,15930,18998,4877,154561,32717,187278,102333,60089,37434,Karaikal
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,15397,9935,0,...,3668,1300,364,27746,9781,37527,18786,12088,5922,Andaman & Nicobar Islands
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,105794,84472,0,...,29910,22388,3077,189834,36289,226123,128402,76332,33128,Andaman & Nicobar Islands

In [167]:
pctcensusdf['malepct'] = pctcensusdf['Male']/pctcensusdf['Population']
pctcensusdf['femalepct'] = pctcensusdf['Female']/pctcensusdf['Population']
pctcensusdf['literacyrate'] = pctcensusdf['Literate']/pctcensusdf['Population']
pctcensusdf['scpct'] = pctcensusdf['SC']/pctcensusdf['Population']
pctcensusdf['stpct'] = pctcensusdf['ST']/pctcensusdf['Population']
pctcensusdf['hindupct'] = pctcensusdf['Hindus']/pctcensusdf['Population']
pctcensusdf['muslimpct'] = pctcensusdf['Muslims']/pctcensusdf['Population']
pctcensusdf['christianpct'] = pctcensusdf['Christians']/pctcensusdf['Population']
pctcensusdf['buddhistpct'] = pctcensusdf['Buddhists']/pctcensusdf['Population']
pctcensusdf['jainpct'] = pctcensusdf['Jains']/pctcensusdf['Population']
pctcensusdf['sikhpct'] = pctcensusdf['Sikhs']/pctcensusdf['Population']
pctcensusdf['urbanpct'] = pctcensusdf['Urban_Households']/pctcensusdf['Households']
pctcensusdf['ruralpct'] = pctcensusdf['Rural_Households']/pctcensusdf['Households']
pctcensusdf['primarypct'] = pctcensusdf['Primary_Education']/pctcensusdf['Total_Education']
pctcensusdf['middlepct'] = pctcensusdf['Middle_Education']/pctcensusdf['Total_Education']
pctcensusdf['secondarypct'] = pctcensusdf['Secondary_Education']/pctcensusdf['Total_Education']
pctcensusdf['higherpct'] = pctcensusdf['Higher_Education']/pctcensusdf['Total_Education']
pctcensusdf['gradpct'] = pctcensusdf['Graduate_Education']/pctcensusdf['Total_Education']

In [169]:
List_to_keep = {'District code','State Name','District name','District_elecname','malepct','femalepct','literacyrate','scpct',
               'stpct','hindupct','muslimpct','christianpct','buddhistpct','jainpct','sikhpct','urbanpct',        
                'ruralpct','primarypct','middlepct','secondarypct','higherpct','gradpct'
               }
remove_others(pctcensusdf, List_to_keep)

In [171]:
#pctcensusdf.to_csv('/Users/ridhitbhura/Downloads/DemographicData.csv')

In [174]:
ndavoteshare = dict(zip(df1['District'], df1['NDA']))
upavoteshare = dict(zip(df1['District'], df1['UPA']))
mtpvoteshare = dict(zip(df1['District'], df1['MTP']))
indvoteshare = dict(zip(df1['District'], df1['IND']))

In [175]:
pctcensusdf['nda_voteshare']=pctcensusdf['District_elecname'].map(ndavoteshare)
pctcensusdf['upa_voteshare']=pctcensusdf['District_elecname'].map(upavoteshare)
pctcensusdf['mtp_voteshare']=pctcensusdf['District_elecname'].map(mtpvoteshare)
pctcensusdf['ind_voteshare']=pctcensusdf['District_elecname'].map(indvoteshare)

In [181]:
pctcensusdf.to_csv('/Users/ridhitbhura/Desktop/ElectionForecastProject/censusjoineddata.csv')

In [177]:
#pctcensusdf['maxvote']=pctcensusdf[['nda_voteshare', 'upa_voteshare','mtp_voteshare','ind_voteshare']].max(axis=1)

In [179]:
#conditions = [pctcensusdf['nda_voteshare'] == pctcensusdf['maxvote'], 
              pctcensusdf['upa_voteshare'] == pctcensusdf['maxvote'],
              pctcensusdf['mtp_voteshare'] == pctcensusdf['maxvote'],
              pctcensusdf['ind_voteshare'] == pctcensusdf['maxvote']
             ]
#choices = ['NDA', 'UPA','MTP', 'IND']
#pctcensusdf['topparty'] = np.select(conditions, choices)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [182]:
del pctcensusdf['ind_voteshare']

In [183]:
pctcensusdf['maxvote']=pctcensusdf[['nda_voteshare', 'upa_voteshare','mtp_voteshare']].max(axis=1)

In [184]:
conditions = [pctcensusdf['nda_voteshare'] == pctcensusdf['maxvote'], 
              pctcensusdf['upa_voteshare'] == pctcensusdf['maxvote'],
              pctcensusdf['mtp_voteshare'] == pctcensusdf['maxvote'],
             ]
choices = [0,1,2]
pctcensusdf['topparty'] = np.select(conditions, choices)

In [241]:
#pctcensusdf.to_csv('/Users/ridhitbhura/Downloads/DemographicDatamergedElection.csv')

In [186]:
del pctcensusdf['maxvote']

In [187]:
pctcensusdf.isna().sum()

District code        0
State Name           0
District name        0
District_elecname    0
malepct              0
femalepct            0
literacyrate         0
scpct                0
stpct                0
hindupct             0
muslimpct            0
christianpct         0
buddhistpct          0
jainpct              0
sikhpct              0
urbanpct             0
ruralpct             0
primarypct           0
middlepct            0
secondarypct         0
higherpct            0
gradpct              0
nda_voteshare        0
upa_voteshare        0
mtp_voteshare        0
topparty             0
dtype: int64

In [188]:
pctcensusdf.to_csv('/Users/ridhitbhura/Desktop/ElectionForecastProject/finalfinaldata.csv')

In [91]:
finaldata = pctcensusdf.copy()

In [92]:
del finaldata['upa_voteshare']
del finaldata['mtp_voteshare']
del finaldata['ind_voteshare']
del finaldata['maxvote']

In [94]:
finaldata.to_csv('/Users/ridhitbhura/Downloads/totalvotescensusdatafinal.csv')